.s-data-cntnr {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 1px solid #e4e8ee;
  p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #242424;
  }

  &:hover {
    .edit {
      visibility: visible;
    }
  }

  * {
    flex: 3;
  }
  .grade {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875re;
    line-height: 1.125rem;
  }
  .edit {
    visibility: hidden;
    display: flex;
    gap: 1.125rem;
    flex: 1;
    padding: 0 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .edit-btn,
    .remove-btn {
      background-color: transparent;
      width: fit-content;
      height: fit-content;
    }
  }
  .index {
    flex: 1;
  }
  .name {
    flex: 4;
  }
}
