nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1.5rem;

  .pg-nm {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #242424;
  }

  .add-btn {
    width: 10.25rem;
    height: 2.625rem;
    background-color: #2ca4d8;
    box-shadow: 0px 2px 20px rgba(56, 181, 235, 0.2);
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    .add-img {
      width: 0.875rem;
      aspect-ratio: 1 / 1;
    }

    span {
      color: white;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.625rem;
    }
  }
}
