.logo {
  width: 3.75rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbf3f;
  border-radius: 0.5rem;

  .logo-icon {
    width: 1.375rem;
  }
}

@media screen and(max-width:800px) {
  .logo {
    width: 2.75rem;
    height: 2rem;

    .logo-icon {
      width: 1rem;
    }
  }
}
